In [1]:
import os
from dotenv import load_dotenv
load_dotenv()

from src.config.models import DatabaseConfig, LLMConfig, PromptConfig

db_config = DatabaseConfig(
    type="postgres",
    host="localhost",
    port="5432",
    database="postgres",
    user="postgres",
    password=os.getenv("POSTGRES_PWD"),
    schema="video_games"
)

In [2]:
from src.connettori.postgres import PostgresManager

db = PostgresManager(
    host=db_config.host,
    port=db_config.port,
    database=db_config.database,
    user=db_config.user,
    password=db_config.password
)
db.connect()

True

In [3]:
from src.dbcontext.postgres_metadata_retriever import PostgresMetadataRetriever

metadata_retriever = PostgresMetadataRetriever(db.engine, schema=db_config.schema)

print(metadata_retriever.get_table_definition("genre"))

CREATE TABLE genre (id integer NOT NULL, genre_name character varying(50));

In [4]:
from src.llm_handler.ollama_handler import OllamaHandler

llm = OllamaHandler(
    base_url="http://localhost:11434",
    model="llama3.1"
)

In [6]:
response = llm.get_completion("raccontami una storia (breve)")
print(response)

Era una notte di luna piena a Venezia. Un giovane pittore, Luca, si trovava sulla riva del canale Grande, con il pennello e la tavolozza in mano. Era ossessionato da un sogno: dipingere la città eterna nella sua forma più bella.

Mentre guardava le luci delle case e dei negozi che rifluivano sull'acqua, vide una figura femminile emergere dalle ombre. Era una donna con i capelli lunghi e il vestito azzurro come il cielo notturno. Si avvicinò a Luca e gli disse: "Voglio essere la tua musa per questa notte".

Luca, senza esitare, iniziò a dipingere. La donna si posizionò davanti a lui, con le braccia aperte come se stesse volando. Il pennello di Luca danzava sulla tela, lasciando un'immagine sempre più bella e struggente.

Quando la notte era quasi finita, la donna scomparve nel nulla, lasciando Luca solo con il suo dipinto. Era una scena meravigliosa: le case di Venezia riflettevano sulla superficie dell'acqua come se fossero fatte d'argento e d'oro.

Luca guardò il quadro, poi si voltò verso la notte che stava scomparendo. Sorrise, sapendo che aveva catturato l'anima della città eterna in quel dipinto. E da quel giorno in poi, ogni volta che qualcuno guardava quella tela, sentiva il profumo del mare e il suono delle voci dei veneziani che si mescolavano con la musica dell'acqua.

In [7]:
from src.llm_input.prompt_generator import PromptGenerator

prompt_config = PromptConfig(include_sample_data=True, max_sample_rows=3)
prompt_generator = PromptGenerator(
    metadata_retriever=metadata_retriever,
    schema_name=db_config.schema,
    prompt_config=prompt_config
)

In [8]:
user_question = "Mostrami i primi 5 giochi del database"
prompt = prompt_generator.generate_prompt(user_question)
print(prompt)

You are an SQL expert who helps convert natural language queries into SQL queries.
Your task is:
1. Generate a valid SQL query that answers the user's question
2. Provide a brief explanation of the results

You must respond with a JSON object in the following format:
{
    "query": "YOUR SQL QUERY HERE",
    "explanation": "Brief explanation of what the query does and what results to expect"
}

Important:
- Always insert schema name "video_games" before the tables
- Do not include comments in the SQL query
- The query must be executable
- Use the table DDL information to ensure correct column names and types
- Follow the foreign key relationships when joining tables
- If you do not have the necessary information to respond or if the requested data does not appear to be in the DB:
    - Explain in the explanation field why the request cannot be fulfilled
    - generate a simple SQL query to extract generic data from a single table (with a limit 5)
    - Explain what the sample data shows

Response must be valid JSON - do not include any other text or markdown formatting.


Schema del Database:

Tabella: genre (12 righe)
Colonne:
- id (INTEGER) NOT NULL
- genre_name (VARCHAR(50)) NULL
Chiavi Primarie: id

Tabella: publisher (577 righe)
Colonne:
- id (INTEGER) NOT NULL
- publisher_name (VARCHAR(100)) NULL
Chiavi Primarie: id

Tabella: platform (31 righe)
Colonne:
- id (INTEGER) NOT NULL
- platform_name (VARCHAR(50)) NULL
Chiavi Primarie: id

Tabella: region (4 righe)
Colonne:
- id (INTEGER) NOT NULL
- region_name (VARCHAR(50)) NULL
Chiavi Primarie: id

Tabella: game (11360 righe)
Colonne:
- id (INTEGER) NOT NULL
- genre_id (INTEGER) NULL
- game_name (VARCHAR(200)) NULL
Chiavi Primarie: id
Foreign Keys:
- genre_id -> genre(id)

Tabella: game_publisher (11732 righe)
Colonne:
- id (INTEGER) NOT NULL
- game_id (INTEGER) NULL
- publisher_id (INTEGER) NULL
Chiavi Primarie: id
Foreign Keys:
- game_id -> game(id)
- publisher_id -> publisher(id)

Tabella: game_platform (16326 righe)
Colonne:
- id (INTEGER) NOT NULL
- game_publisher_id (INTEGER) NULL
- platform_id (INTEGER) NULL
- release_year (INTEGER) NULL
Chiavi Primarie: id
Foreign Keys:
- game_publisher_id -> game_publisher(id)
- platform_id -> platform(id)

Tabella: region_sales (65320 righe)
Colonne:
- region_id (INTEGER) NULL
- game_platform_id (INTEGER) NULL
- num_sales (NUMERIC(5, 2)) NULL
Foreign Keys:
- game_platform_id -> game_platform(id)
- region_id -> region(id)


Esempi di Dati:

genre (primi 3 record):
{'id': 1, 'genre_name': 'Action'}
{'id': 2, 'genre_name': 'Adventure'}
{'id': 3, 'genre_name': 'Fighting'}

publisher (primi 3 record):
{'id': 1, 'publisher_name': '10TACLE Studios'}
{'id': 2, 'publisher_name': '1C Company'}
{'id': 3, 'publisher_name': '20th Century Fox Video Games'}

platform (primi 3 record):
{'id': 1, 'platform_name': 'Wii'}
{'id': 2, 'platform_name': 'NES'}
{'id': 3, 'platform_name': 'GB'}

region (primi 3 record):
{'id': 1, 'region_name': 'North America'}
{'id': 2, 'region_name': 'Europe'}
{'id': 3, 'region_name': 'Japan'}

game (primi 3 record):
{'id': 1, 'genre_id': 11, 'game_name': "'98 Koshien"}
{'id': 2, 'genre_id': 8, 'game_name': '.hack//G.U. Vol.1//Rebirth'}
{'id': 3, 'genre_id': 8, 'game_name': '.hack//G.U. Vol.2//Reminisce'}

game_publisher (primi 3 record):
{'id': 1, 'game_id': 10866, 'publisher_id': 369}
{'id': 2, 'game_id': 9244, 'publisher_id': 369}
{'id': 3, 'game_id': 5464, 'publisher_id': 369}

game_platform (primi 3 record):
{'id': 1, 'game_publisher_id': 8564, 'platform_id': 4, 'release_year': 2007}
{'id': 2, 'game_publisher_id': 9852, 'platform_id': 4, 'release_year': 2007}
{'id': 3, 'game_publisher_id': 11063, 'platform_id': 7, 'release_year': 2006}

region_sales (primi 3 record):
{'region_id': 1, 'game_platform_id': 50, 'num_sales': Decimal('3.50')}
{'region_id': 1, 'game_platform_id': 51, 'num_sales': Decimal('1.43')}
{'region_id': 1, 'game_platform_id': 52, 'num_sales': Decimal('0.51')}


Rispondi in lingua Italiana.


DOMANDA DELL'UTENTE:

Mostrami i primi 5 giochi del database

In [ ]:
response = llm.get_completion(prompt)

In [10]:
from src.llm_output.response_handler import ResponseHandler
response_handler = ResponseHandler(db, db_config.schema)
results = response_handler.process_response(response)

if results["success"]:
    print("Query SQL:", results["query"])
    print("\nSpiegazione:", results["explanation"])
    print("\nRisultati:", results["results"])

Query SQL: SELECT * FROM video_games.game LIMIT 5

Spiegazione: Questa query restituisce i primi 5 record della tabella game. La limitazione è impostata a 5 per mostrare solo i primi 5 giochi del database.

Risultati: [{'id': 1, 'genre_id': 11, 'game_name': "'98 Koshien"}, {'id': 2, 'genre_id': 8, 'game_name': '.hack//G.U. Vol.1//Rebirth'}, {'id': 3, 'genre_id': 8, 'game_name': '.hack//G.U. Vol.2//Reminisce'}, {'id': 4, 'genre_id': 8, 'game_name': '.hack//G.U. Vol.2//Reminisce (jp sales)'}, {'id': 5, 'genre_id': 8, 'game_name': '.hack//G.U. Vol.3//Redemption'}]