# hey, databse! Code Tutorial

## Initial Setup

In [1]:
import sys
import os
from pathlib import Path
project_root = Path.cwd().parent
sys.path.append(str(project_root))

import logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger('hey-database-tutorial')

# credentials if nedeed
api_key = os.getenv('OPENAI_API_KEY')
db_pwd = os.getenv('POSTGRES_PWD')

from src.llm_handler.openai_handler import OpenAIHandler
llm = OpenAIHandler(
    api_key=api_key,
    chat_model="gpt-4o"
)

## Test LLM

In [7]:
system_prompt = "Sei un simpatico standup comedian"
user_prompt = "Raccontami una breve storia simpatica. Molto breve."

response = llm.get_completion(
    prompt=user_prompt,
    system_prompt=system_prompt,
    temperature=0.2
)

print("\nRisposta LLM:")
print(response)

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"

Risposta LLM:
Certo! Allora, c'era una volta un pinguino che voleva diventare un detective. Si mise un cappello da investigatore e una lente d'ingrandimento, ma ogni volta che cercava di seguire una pista... scivolava! Alla fine decise di specializzarsi nei casi di ghiaccio sottile.

# DB connection

In [3]:
from src.connettori.postgres import PostgresManager # also supported mysql, vertica and snowflake

# create connection
db = PostgresManager(
    host="localhost",
    port="5432",
    database="giacomo",
    user="postgres",
    password=db_pwd
)

# check connection
if db.connect():
    print("Connessione stabilita con successo!")
    
    # Test query
    result = db.execute_query("SELECT COUNT(*) FROM northwind.customers")
    if result:
        columns, data = result
        print(f"Numero totale ordini: {data[0][0]}")
else:
    print("Errore nella connessione!")

Connessione stabilita con successo!
Numero totale ordini: 91

## Metadata extraction

In [ ]:
from src.schema_metadata.postgres_metadata_retriever import PostgresMetadataRetriever
from src.schema_metadata.enhancement_strategy import MetadataEnhancementStrategy

# We can decide if we want to enhance the metadata retrieved from the database
# enhancing mean use an LLM to add more information to the metadata, like table description
class SimpleEnhancementStrategy(MetadataEnhancementStrategy):
    def should_enhance(self) -> bool:
        return False # True to enhance metadata, False to keep the original metadata

# create metadata retriever
metadata_retriever = PostgresMetadataRetriever(
    db_engine=db.engine,
    llm_handler=llm,
    enhancement_strategy=SimpleEnhancementStrategy(),
    schema="northwind"  # your schema here
)

metadata = metadata_retriever.get_all_tables_metadata()

print(metadata)

INFO:hey-database:Inizializzando metadata retriever per schema: northwind
INFO:hey-database:Loading metadata from database
INFO:hey-database:Estraggo i metadati per la tabella: territories
INFO:hey-database:Estraggo i metadati per la tabella: order_details
INFO:hey-database:Estraggo i metadati per la tabella: employee_territories
INFO:hey-database:Estraggo i metadati per la tabella: us_states
INFO:hey-database:Estraggo i metadati per la tabella: customers
INFO:hey-database:Estraggo i metadati per la tabella: orders
INFO:hey-database:Estraggo i metadati per la tabella: employees
INFO:hey-database:Estraggo i metadati per la tabella: shippers
INFO:hey-database:Estraggo i metadati per la tabella: products
INFO:hey-database:Estraggo i metadati per la tabella: categories
INFO:hey-database:Estraggo i metadati per la tabella: suppliers
INFO:hey-database:Estraggo i metadati per la tabella: region
INFO:hey-database:Estraggo i metadati per la tabella: customer_demographics
INFO:hey-database:Estraggo i metadati per la tabella: customer_customer_demo
INFO:hey-database:Skipping metadata enhancement

{'territories': EnhancedTableMetadata(base_metadata=TableMetadata(name='territories', columns=[{'name': 'territory_id', 'type': 'VARCHAR(20)', 'nullable': False, 'distinct_values': ['90405', '30346', '48084', '95054', '20852', '03049', '72716', '01730', '75234', '07960', '32859', '02184', '80909', '48075', '27403', '95008', '40222', '31406', '08837', '19428', '94105', '02116', '01833', '01581', '10019', '94025', '85014', '55439', '55113', '48304', '60179', '98052', '98004', '53404', '10038', '03801', '85251', '14450', '95060', '02903', '78759', '11747', '27511', '06897', '29202', '19713', '98104', '44122', '02139', '60601', '45839', '80202', '33607']}, {'name': 'territory_description', 'type': 'VARCHAR(60)', 'nullable': False, 'distinct_values': ['Neward', 'Santa Cruz', 'Columbia', 'New York', 'Westboro', 'Philadelphia', 'Phoenix', 'San Francisco', 'Dallas', 'Roseville', 'Southfield', 'Austin', 'Rockville', 'Morristown', 'Orlando', 'Portsmouth', 'Georgetow', 'Santa Clara', 'Chicago', 'Cary', 'Bentonville', 'Fairport', 'Colorado Springs', 'Denver', 'Hoffman Estates', 'Edison', 'Beachwood', 'Bedford', 'Campbell', 'Menlo Park', 'Providence', 'Minneapolis', 'Findlay', 'Louisville', 'Savannah', 'Tampa', 'Seattle', 'Racine', 'Atlanta', 'Redmond', 'Mellvile', 'Hollis', 'Boston', 'Braintree', 'Scottsdale', 'Bloomfield Hills', 'Bellevue', 'Troy', 'Santa Monica', 'Greensboro', 'Wilton', 'Cambridge']}, {'name': 'region_id', 'type': 'SMALLINT', 'nullable': False, 'distinct_values': ['2', '1', '4', '3']}], primary_keys=['territory_id'], foreign_keys=[{'constrained_columns': ['region_id'], 'referred_table': 'region', 'referred_columns': ['region_id']}], row_count=53), description='', keywords=[], importance_score=0.0), 'order_details': EnhancedTableMetadata(base_metadata=TableMetadata(name='order_details', columns=[{'name': 'order_id', 'type': 'SMALLINT', 'nullable': False, 'distinct_values': ['10483', '10423', '10489', '10992', '10391', '10681', '10641', '10703', '10852', '10705', '10525', '10712', '11027', '10310', '10707', '10529', '10425', '11064', '10833', '11028', '10796', '11002', '10582', '10717', '10706', '11005', '10809', '10728', '10549', '10508', '10513', '10844', '10771', '10931', '10907', '10406', '11072', '10898', '10592', '10849', '11053', '10552', '10298', '10654', '11017', '10380', '10260', '10921', '10684', '10332', '11015', '10551', '10996', '10934', '10454', '10927', '10792', '10396', '10252', '10863', '10294', '10623', '10981', '10473', '10589', '10958', '10941', '10914', '10749', '10673', '10369', '10719', '10374', '10679', '10554', '10480', '10477', '11047', '10519', '10511', '10302', '10571', '10556', '10528', '10634', '10984', '10436', '10279', '10278', '10881', '10871', '10919', '11067', '11011', '10737', '11068', '10329', '10897', '10289', '10474']}, {'name': 'product_id', 'type': 'SMALLINT', 'nullable': False, 'distinct_values': ['16', '26', '63', '71', '70', '72', '8', '75', '13', '28', '39', '19', '23', '20', '25', '14', '64', '34', '6', '18', '38', '32', '2', '68', '76', '74', '58', '37', '9', '4', '33', '30', '66', '45', '61', '46', '51', '53', '36', '27', '31', '11', '43', '60', '42', '62', '49', '69', '67', '12', '54', '10', '7', '47', '15', '52', '5', '55', '40', '73', '65', '44', '59', '77', '29', '1', '57', '21', '24', '17', '56', '48', '35', '22', '41', '3', '50']}, {'name': 'unit_price', 'type': 'REAL', 'nullable': False, 'distinct_values': ['16', '26', '12.4', '3.6', '24.9', '8', '19.5', '10.2', '14.4', '21.35', '32.8', '13', '27.8', '28.5', '7.3', '34', '18', '32', '2', '7.45', '9.65', '64.8', '210.8', '9', '23.25', '27.2', '22.8', '4.8', '24.8', '36', '21.05', '31', '62.5', '12', '10', '7', '34.8', '15', '40', '49.3', '43.9', '77.6', '15.6', '123.79', '12.75', '35.1', '9.8', '13.6', '9.6', '25.6', '21', '16.25', '13.25', '17', '39.4', '5.9', '22', '31.2', '7.7', '17.45', '36.8', '10.4', '4.5', '7.75', '13.9', '39', '15.5', '19', '20', '25', '14', '6', '12.5', '26.2', '25.89', '38', '2.5', '30.4', '36.4', '17.2', '10.6', '5.6', '17.6', '30', '18.6', '99', '42.4', '46', '53', '45.6', '11.2', '19.45', '97', '33.25', '14.7', '7.2', '28.8', '55', '21.5', '81']}, {'name': 'quantity', 'type': 'SMALLINT', 'nullable': False, 'distinct_values': ['21', '24', '56', '33', '48', '30', '35', '66', '45', '22', '120', '3', '36', '27', '11', '50', '60', '110', '90', '16', '130', '42', '63', '84', '49', '80', '70', '8', '12', '54', '10', '7', '13', '28', '15', '52', '55', '5', '39', '40', '65', '20', '14', '25', '91', '44', '6', '18', '32', '77', '2', '100', '1', '4', '9']}, {'name': 'discount', 'type': 'REAL', 'nullable': False, 'distinct_values': ['0.25', '0.06', '0.05', '0.03', '0.1', '0.2', '0.01', '0.15', '0.02', '0', '0.04']}], primary_keys=['order_id', 'product_id'], foreign_keys=[{'constrained_columns': ['order_id'], 'referred_table': 'orders', 'referred_columns': ['order_id']}, {'constrained_columns': ['product_id'], 'referred_table': 'products', 'referred_columns': ['product_id']}], row_count=2155), description='', keywords=[], importance_score=0.0), 'employee_territories': EnhancedTableMetadata(base_metadata=TableMetadata(name='employee_territories', columns=[{'name': 'employee_id', 'type': 'SMALLINT', 'nullable': False, 'distinct_values': ['7', '5', '6', '2', '1', '9', '4', '3', '8']}, {'name': 'territory_id', 'type': 'VARCHAR(20)', 'nullable': False, 'distinct_values': ['01730', '07960', '32859', '02184', '48075', '80909', '27403', '95008', '08837', '31406', '40222', '19428', '94105', '02116', '01833', '01581', '10019', '94025', '85014', '55439', '55113', '48304', '60179', '98052', '98004', '53404', '10038', '03801', '85251', '14450', '95060', '02903', '11747', '27511', '06897', '19713', '98104', '44122', '02139', '45839', '60601', '80202', '33607', '90405', '30346', '48084', '03049', '95054', '20852']}], primary_keys=['employee_id', 'territory_id'], foreign_keys=[{'constrained_columns': ['employee_id'], 'referred_table': 'employees', 'referred_columns': ['employee_id']}, {'constrained_columns': ['territory_id'], 'referred_table': 'territories', 'referred_columns': ['territory_id']}], row_count=49), description='', keywords=[], importance_score=0.0), 'us_states': EnhancedTableMetadata(base_metadata=TableMetadata(name='us_states', columns=[{'name': 'state_id', 'type': 'SMALLINT', 'nullable': False, 'distinct_values': ['49', '8', '12', '10', '7', '13', '47', '28', '15', '5', '40', '39', '19', '23', '20', '25', '14', '44', '34', '6', '18', '38', '32', '2', '29', '37', '1', '9', '4', '21', '24', '33', '17', '48', '30', '35', '45', '41', '22', '51', '46', '3', '36', '27', '31', '11', '50', '43', '16', '42', '26']}, {'name': 'state_name', 'type': 'VARCHAR(100)', 'nullable': True, 'distinct_values': ['Oklahoma', 'North Carolina', 'Colorado', 'Mississippi', 'Florida', 'Vermont', 'Delaware', 'Nevada', 'Louisiana', 'New York', 'West Virginia', 'South Carolina', 'New Jersey', 'New Mexico', 'Hawaii', 'Arkansas', 'Missouri', 'Connecticut', 'South Dakota', 'District of Columbia', 'Iowa', 'Indiana', 'Massachusetts', 'Rhode Island', 'Ohio', 'Michigan', 'Minnesota', 'Pennsylvania', 'Washington', 'Wisconsin', 'Montana', 'Kentucky', 'Arizona', 'Illinois', 'Virginia', 'Maryland', 'Georgia', 'Wyoming', 'Utah', 'New Hampshire', 'North Dakota', 'Nebraska', 'Maine', 'California', 'Tennessee', 'Kansas', 'Texas', 'Oregon', 'Idaho', 'Alaska', 'Alabama']}, {'name': 'state_abbr', 'type': 'VARCHAR(2)', 'nullable': True, 'distinct_values': ['CA', 'NH', 'OR', 'TX', 'ND', 'NV', 'OH', 'KY', 'NY', 'HI', 'NM', 'MS', 'IN', 'DC', 'WV', 'NE', 'MO', 'FL', 'ME', 'AR', 'WI', 'NC', 'CT', 'SD', 'RI', 'OK', 'ID', 'GA', 'MN', 'PA', 'MD', 'AK', 'WY', 'LA', 'MT', 'IO', 'IL', 'TN', 'WA', 'NJ', 'MI', 'MA', 'AL', 'UT', 'VT', 'CO', 'SC', 'VA', 'DE', 'AZ', 'KS']}, {'name': 'state_region', 'type': 'VARCHAR(50)', 'nullable': True, 'distinct_values': ['midwest', 'west', 'south', 'north', 'east']}], primary_keys=['state_id'], foreign_keys=[], row_count=51), description='', keywords=[], importance_score=0.0), 'customers': EnhancedTableMetadata(base_metadata=TableMetadata(name='customers', columns=[{'name': 'customer_id', 'type': 'VARCHAR(5)', 'nullable': False, 'distinct_values': ['TOMSP', 'OLDWO', 'LONEP', 'WARTH', 'MAGAA', 'QUEEN', 'VINET', 'MORGK', 'ANTON', 'GOURL', 'WOLZA', 'WELLI', 'RATTC', 'GALED', 'WILMK', 'FURIB', 'DUMON', 'FRANK', 'TORTU', 'FAMIA', 'FRANS', 'PRINI', 'RANCH', 'PERIC', 'ISLAT', 'CONSH', 'LEHMS', 'VICTE', 'ALFKI', 'RICAR', 'LINOD', 'FOLIG', 'ANATR', 'LAZYK', 'QUICK', 'THEBI', 'CHOPS', 'GROSR', 'LACOR', 'FRANR', 'HUNGO', 'OTTIK', 'AROUT', 'KOENE', 'MEREP', 'BLAUS', 'LAUGB', 'THECR', 'BOLID', 'BONAP', 'SANTG', 'GODOS', 'DRACD', 'NORTS', 'BSBEV', 'HANAR', 'SEVES', 'MAISD', 'FOLKO', 'BERGS', 'SPLIR', 'OCEAN', 'CACTU', 'SAVEA', 'FISSA', 'BLONP', 'VAFFE', 'LETSS', 'HILAA', 'PICCO', 'EASTC', 'ERNSH', 'SPECD', 'ROMEY', 'SUPRD', 'REGGC', 'COMMI', 'TRADH', 'CENTC', 'QUEDE', 'GREAL', 'PARIS', 'WANDK', 'SIMOB', 'LAMAI', 'LILAS', 'HUNGC', 'WHITC', 'RICSU', 'TRAIH', 'BOTTM']}, {'name': 'company_name', 'type': 'VARCHAR(40)', 'nullable': False, 'distinct_values': ['FISSA Fabrica Inter. Salchichas S.A.', 'Wilman Kala', 'Magazzini Alimentari Riuniti', 'Wellington Importadora', 'The Cracker Box', 'Toms Spezialitäten', "Let's Stop N Shop", 'Furia Bacalhau e Frutos do Mar', 'Lehmanns Marktstand', 'Rattlesnake Canyon Grocery', 'Mère Paillarde', 'Que Delícia', 'The Big Cheese', 'Hungry Owl All-Night Grocers', 'Königlich Essen', 'North/South', 'GROSELLA-Restaurante', 'Frankenversand', 'Split Rail Beer & Ale', 'Folies gourmandes', 'Around the Horn', 'Comércio Mineiro', 'Gourmet Lanchonetes', 'Santé Gourmet', 'Victuailles en stock', 'Chop-suey Chinese', 'Alfreds Futterkiste', 'Lonesome Pine Restaurant', 'HILARION-Abastos', "La corne d'abondance", 'Old World Delicatessen', 'LILA-Supermercado', 'Wolski  Zajazd', 'Die Wandernde Kuh', 'Godos Cocina Típica', 'Blondesddsl père et fils', 'Morgenstern Gesundkost', 'Ricardo Adocicados', 'Spécialités du monde', "La maison d'Asie", 'Bólido Comidas preparadas', 'Wartian Herkku', 'Paris spécialités', "Bon app'", 'Berglunds snabbköp', 'Seven Seas Imports', 'Eastern Connection', 'Océano Atlántico Ltda.', 'Drachenblut Delikatessen', 'Suprêmes délices', 'Ernst Handel', 'LINO-Delicateses', 'Antonio Moreno Taquería', 'Ottilies Käseladen', 'Princesa Isabel Vinhos', 'Cactus Comidas para llevar', 'Galería del gastrónomo', 'Tradição Hipermercados', 'Hungry Coyote Import Store', 'Save-a-lot Markets', 'Reggiani Caseifici', 'Great Lakes Food Market', 'Maison Dewey', 'Queen Cozinha', 'Simons bistro', 'Laughing Bacchus Wine Cellars', 'QUICK-Stop', 'Richter Supermarkt', 'Tortuga Restaurante', 'Vins et alcools Chevalier', 'Consolidated Holdings', 'Franchi S.p.A.', 'Hanari Carnes', 'Folk och fä HB', 'Blauer See Delikatessen', "Trail's Head Gourmet Provisioners", 'Rancho grande', 'Familia Arquibaldo', 'Vaffeljernet', 'Lazy K Kountry Store', 'Pericles Comidas clásicas', 'Ana Trujillo Emparedados y helados', 'Centro comercial Moctezuma', 'White Clover Markets', 'Romero y tomillo', 'France restauration', "B's Beverages", 'Bottom-Dollar Markets', 'Piccolo und mehr', 'Island Trading', 'Du monde entier']}, {'name': 'contact_name', 'type': 'VARCHAR(30)', 'nullable': True, 'distinct_values': ['Francisco Chang', 'André Fonseca', 'Pedro Afonso', 'Philip Cramer', 'Frédérique Citeaux', 'Jytte Petersen', 'Paolo Accorti', 'Paula Wilson', 'Patricio Simpson', 'Helen Bennett', 'Mary Saveley', 'Sergio Gutiérrez', 'Paula Parente', 'Anabela Domingues', 'Liz Nixon', 'Art Braunschweiger', 'Patricia McKenna', 'Antonio Moreno', 'Alejandra Camino', 'Thomas Hardy', 'Diego Roel', 'Christina Berglund', 'Janete Limeira', 'Henriette Pfalzheim', 'Carlos González', 'Zbyszek Piestrzeniewicz', 'Marie Bertrand', 'John Steel', 'Ann Devon', 'Mario Pontes', 'Hari Kumar', 'Annette Roulet', 'Yoshi Latimer', 'Dominique Perrier', 'Rene Phillips', 'Elizabeth Brown', 'Martine Rancé', 'Rita Müller', 'Janine Labrune', 'Matti Karttunen', 'Yang Wang', 'Lúcia Carvalho', 'Hanna Moos', 'Aria Cruz', 'Elizabeth Lincoln', 'Karl Jablonski', 'Liu Wong', 'Lino Rodriguez', 'Carine Schmitt', 'José Pedro Freyre', 'Maria Anders', 'Jaime Yorres', 'Felipe Izquierdo', 'Bernardo Batista', 'Pascale Cartrain', 'Howard Snyder', 'Roland Mendel', 'Ana Trujillo', 'Horst Kloss', 'Yvonne Moncada', 'Martín Sommer', 'Georg Pipps', 'Isabel de Castro', 'Helvetius Nagy', 'Jean Fresnière', 'Daniel Tonini', 'Palle Ibsen', 'Manuel Pereira', 'Eduardo Saavedra', 'Sven Ottlieb', 'Renate Messner', 'Maurizio Moroni', 'Yoshi Tannamuri', 'Miguel Angel Paolino', 'Jose Pavarotti', 'Victoria Ashworth', 'Catherine Dewey', 'Carlos Hernández', 'Giovanni Rovelli', 'Laurence Lebihan', 'Pirkko Koskitalo', 'Fran Wilson', 'Karin Josephs', 'Guillermo Fernández', 'Jonas Bergulfsen', 'Simon Crowther', 'Michael Holz', 'Maria Larsson', 'Alexander Feuer', 'Paul Henriot', 'Peter Franken']}, {'name': 'contact_title', 'type': 'VARCHAR(30)', 'nullable': True, 'distinct_values': ['Sales Manager', 'Owner', 'Owner/Marketing Assistant', 'Accounting Manager', 'Sales Associate', 'Sales Agent', 'Assistant Sales Agent', 'Assistant Sales Representative', 'Order Administrator', 'Marketing Manager', 'Sales Representative', 'Marketing Assistant']}, {'name': 'address', 'type': 'VARCHAR(60)', 'nullable': True, 'distinct_values': ['C/ Moralzarzal, 86', 'Gran Vía, 1', 'Mataderos  2312', 'Rua do Mercado, 12', 'Boulevard Tirou, 255', 'Calle Dr. Jorge Cash 321', 'Åkergatan 24', 'Rua Orós, 92', 'Adenauerallee 900', 'Via Ludovico il Moro 22', 'Keskuskatu 45', 'Cerrito 333', "59 rue de l'Abbaye", 'Rua da Panificadora, 12', 'Garden House Crowther Way', '305 - 14th Ave. S. Suite 3B', '265, boulevard Charonne', '1900 Oak St.', '35 King George', 'Walserweg 21', 'Av. dos Lusíadas, 23', 'Sierras de Granada 9993', 'Rua do Paço, 67', '89 Chiaroscuro Rd.', 'Kirchgasse 6', 'C/ Araquil, 67', 'P.O. Box 555', 'Berliner Platz 43', '722 DaVinci Blvd.', 'Magazinweg 7', 'Av. Brasil, 442', '54, rue Royale', 'Carrera 52 con Ave. Bolívar #65-98 Llano Largo', '23 Tsawassen Blvd.', '89 Jefferson Way Suite 2', '184, chaussée de Tournai', '12, rue des Bouchers', '55 Grizzly Peak Rd.', 'Rue Joseph-Bens 532', 'Geislweg 14', 'Berkeley Gardens 12  Brewery', '2743 Bering St.', 'Jardim das rosas n. 32', 'Forsterstr. 57', 'Smagsloget 45', "67, avenue de l'Europe", '43 rue St. Laurent', '1 rue Alsace-Lorraine', '8 Johnstown Road', 'Berguvsvägen  8', 'Rambla de Cataluña, 23', '2, rue du Commerce', 'Heerstr. 22', '12 Orchestra Terrace', '24, place Kléber', 'Avda. Azteca 123', '5ª Ave. Los Palos Grandes', 'Grenzacherweg 237', 'Av. del Libertador 900', 'Torikatu 38', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Ave. 5 de Mayo Porlamar', '25, rue Lauriston', 'Maubelstr. 90', '67, rue des Cinquante Otages', 'Hauptstr. 29', 'Alameda dos Canàrios, 891', 'Av. Inês de Castro, 414', 'Obere Str. 57', 'ul. Filtrowa 68', 'Luisenstr. 48', 'C/ Romero, 33', 'Via Monte Bianco 34', 'Strada Provinciale 124', '2817 Milton Dr.', 'South House 300 Queensbridge', 'Estrada da saúde n. 58', '187 Suffolk Ln.', 'Mehrheimerstr. 369', '90 Wadhurst Rd.', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'Taucherstraße 10', 'Vinbæltet 34', '87 Polk St. Suite 5', 'Erling Skakkes gate 78', 'Fauntleroy Circus', '120 Hanover Sq.', 'City Center Plaza 516 Main St.', '2732 Baker Blvd.', 'Av. Copacabana, 267', 'Avda. de la Constitución 2222']}, {'name': 'city', 'type': 'VARCHAR(15)', 'nullable': True, 'distinct_values': ['Butte', 'Paris', 'Cowes', 'Cork', 'Bern', 'Brandenburg', 'Aachen', 'Walla Walla', 'Warszawa', 'Münster', 'San Francisco', 'Eugene', 'Caracas', 'Berlin', 'Lyon', 'Lille', 'Salzburg', 'Elgin', 'Frankfurt a.M.', 'Stuttgart', 'Portland', 'Århus', 'Bruxelles', 'Barcelona', 'Leipzig', 'Reims', 'Oulu', 'Seattle', 'Versailles', 'Sevilla', 'Helsinki', 'Sao Paulo', 'Albuquerque', 'Marseille', 'Kirkland', 'Boise', 'Reggio Emilia', 'Bergamo', 'Strasbourg', 'Toulouse', 'München', 'Charleroi', 'Resende', 'Tsawassen', 'London', 'Stavern', 'Barquisimeto', 'Mannheim', 'Köln', 'Anchorage', 'Genève', 'Kobenhavn', 'Luleå', 'Campinas', 'Lisboa', 'Torino', 'Bräcke', 'Graz', 'Cunewalde', 'Montréal', 'Lander', 'Madrid', 'México D.F.', 'Vancouver', 'I. de Margarita', 'Buenos Aires', 'San Cristóbal', 'Rio de Janeiro', 'Nantes']}, {'name': 'region', 'type': 'VARCHAR(15)', 'nullable': True, 'distinct_values': ['Lara', 'DF', 'ID', 'Táchira', 'SP', 'Nueva Esparta', 'CA', 'AK', 'Isle of Wight', 'WY', 'OR', 'MT', 'RJ', 'WA', 'NM', 'Co. Cork', 'BC', 'Québec']}, {'name': 'postal_code', 'type': 'VARCHAR(10)', 'nullable': True, 'distinct_values': ['12209', '1675', '5022', '05454-876', '04876-786', '02389-890', '51100', '8200', '80805', '44000', '5020', '59801', '05023', '68306', '97827', '1203', '3508', 'B-1180', '05033', 'SW7 1RZ', '28001', '82520', '24100', '50739', 'WA1 1DP', '97201', '05634-030', '97219', 'WX1 6LT', '94117', 'PO31 7PJ', '78000', 'V3F 2K1', '3012', '28034', '44087', '1010', '8010', '98034', '4980', '87110', 'EC2 5NT', '67000', 'H1J 1C3', '08737-363', '90110', '69004', '1756', '14776', 'WX3 6FW', '21240', '99508', '13008', '05442-030', '05021', 'OX15 4NB', '01307', '08022', '05432-043', '75012', '98128', '75016', '1081', '97403', '31000', '59000', '05022', '41101', '1734', '70563', '83720', 'S-844 67', '05487-020', 'B-6000', 'S-958 22', '02389-673', '52066', '04179', '01-012', '42100', '99362', '10100', 'T2F 8M4', '4110', '60528', '28023']}, {'name': 'country', 'type': 'VARCHAR(15)', 'nullable': True, 'distinct_values': ['Argentina', 'Spain', 'Switzerland', 'Italy', 'Venezuela', 'Belgium', 'Norway', 'Sweden', 'USA', 'France', 'Mexico', 'Brazil', 'Austria', 'Poland', 'UK', 'Ireland', 'Germany', 'Denmark', 'Canada', 'Finland', 'Portugal']}, {'name': 'phone', 'type': 'VARCHAR(24)', 'nullable': True, 'distinct_values': ['(5) 552-3745', '(95) 555 82 82', '(91) 745 6200', '(5) 555-4729', '(171) 555-1717', '0452-076545', '91.24.45.40', '0372-035188', '(2) 283-2951', '0897-034214', '(171) 555-0297', '(171) 555-2282', '(1) 123-5555', '(11) 555-2167', '(071) 23 67 22 20', '(91) 555 22 82', '86 21 32 43', '88.60.15.31', '6562-9722', '(5) 555-3932', '(14) 555-8122', '(91) 555 94 44', '90-224 8858', '(604) 555-4729', '(503) 555-6874', '(505) 555-5939', '0251-031259', '(503) 555-7555', '(171) 555-7788', '(21) 555-3412', '(11) 555-1189', '0241-039123', '035-640230', '(307) 555-4680', '(02) 201 24 67', '0342-023176', '(198) 555-8888', '(8) 34-56-12', '(406) 555-5834', '0221-0644327', '(907) 555-7584', '(9) 331-6954', '(5) 555-2933', '089-0877310', '0711-020361', '0555-09876', '20.16.10.16', '0621-08460', '(171) 555-7733', '(509) 555-7969', '(604) 555-3392', '31 12 34 56', '78.32.54.86', '(503) 555-3612', '(415) 555-5938', '(21) 555-0091', '(5) 555-3392', '(1) 354-2534', '(1) 356-5634', '7675-3425', '(11) 555-9482', '(11) 555-9857', '40.67.88.88', '07-98 92 35', '(21) 555-4252', '(1) 135-5333', '30.59.84.10', '2967 542', '40.32.21.21', '(208) 555-8097', '(1) 135-5555', '069-0245984', '(171) 555-1212', '(1) 42.34.22.66', '(206) 555-8257', '981-443655', '0522-556721', '(503) 555-9573', '(514) 555-8054', '(206) 555-4112', '(93) 203 4560', '(26) 642-7012', '011-4988260', '26.47.15.10', '(5) 555-1340', '61.77.61.10', '0695-34 67 21', '(1) 47.55.60.10', '(11) 555-7647', '030-0074321', '0921-12 34 65']}, {'name': 'fax', 'type': 'VARCHAR(24)', 'nullable': True, 'distinct_values': ['(1) 354-2535', '030-0076545', '(91) 745 6210', '0621-08924', '30.59.85.11', '089-0877451', '40.67.89.89', '(1) 47.55.60.20', '(171) 555-6750', '(307) 555-6525', '(02) 201 24 68', '(9) 331-7256', '(503) 555-9646', '(91) 555 91 99', '90-224 8858', '0522-556722', '(514) 555-8055', '(91) 555 55 93', '(5) 555-1948', '(11) 555-2168', '(509) 555-6221', '78.32.54.87', '(505) 555-3620', '(1) 135-5535', '(171) 555-2530', '86 22 33 44', '(171) 555-3373', '(604) 555-3745', '31 13 35 57', '26.47.15.11', '(1) 42.34.22.77', '6562-9723', '(503) 555-2376', '(206) 555-2174', '(21) 555-4545', '(071) 23 67

Right now access to the data is not immediate, partly because we have to go through the dataclas (see cell below).  
One might think about how to make accessing the info more intuitive, more dictionary style.

In [5]:
metadata['territories'].base_metadata.foreign_keys

[{'constrained_columns': ['region_id'],
  'referred_table': 'region',
  'referred_columns': ['region_id']}]

## Store

In [6]:
from src.embedding.openai_embedding import OpenAIEmbedding
from src.store.qdrant_vectorstore import QdrantStore

# embedding model for vectorize documents in store
embedding_model = OpenAIEmbedding(
    api_key=api_key,
    model="text-embedding-3-small"
)

# store initialization
vector_store = QdrantStore(
    path="./data/tutorial",  # per storage locale
    collection_name="tutorial_collection",
    embedding_model=embedding_model
)

# collection initialization
if vector_store.initialize():
    print("Vector store inizializzato con successo!")
    
    # Popola con i metadati
    if vector_store.populate_store_with_metadata(metadata):
        print("Metadati caricati nel vector store!")
        
        # Prova una ricerca
        user_query = "Trova informazioni sugli ordini e i clienti"
        results = vector_store.search_similar_tables(user_query, limit=2)
        
        print("\nTabelle più rilevanti per la query:")
        for result in results:
            print(f"\nTabella: {result.table_name}")
            print(f"Score: {result.relevance_score}")
            print(f"Descrizione: {result.metadata.description}")

INFO:hey-database:Collection tutorial_collection already exists
INFO:hey-database:Collection already populated, skipping metadata population

Vector store inizializzato con successo!
Metadati caricati nel vector store!

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"

Tabelle più rilevanti per la query:

Tabella: orders
Score: 0.3863829238671133
Descrizione:

Tabella: customers
Score: 0.3790589369388381
Descrizione:

## SQL Agent

In [8]:
from src.config.languages import SupportedLanguage
from src.agents.sql_agent import SQLAgent
from dataclasses import dataclass

# prompt config
@dataclass
class SimplePromptConfig:
    include_sample_data: bool = False # include or not table rows in prompt
    max_sample_rows: int = 3

# sql agent initialization
sql_agent = SQLAgent(
    db=db,
    llm_manager=llm,
    metadata_retriever=metadata_retriever,
    schema_name="northwind",  # schema here
    prompt_config=SimplePromptConfig(),
    vector_store=vector_store,
    language=SupportedLanguage.ITALIAN # da semplificare
)

# Prova una query in linguaggio naturale
question = "Quali sono i 5 clienti che hanno fatto più ordini?"
response = sql_agent.run(question)

if response.success:
    print("\nQuery SQL generata:")
    print(response.query)
    print("\nSpiegazione:")
    print(response.explanation)
    if response.results:
        print("\nRisultati:")
        for row in response.results[:3]:  # primi 3 risultati
            print(row)
else:
    print(f"\nErrore: {response.error}")

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"

Query SQL generata:
SELECT c.customer_id, c.company_name, COUNT(o.order_id) AS total_orders FROM northwind.customers c JOIN northwind.orders o ON c.customer_id = o.customer_id GROUP BY c.customer_id, c.company_name ORDER BY total_orders DESC LIMIT 5;

Spiegazione:
La query seleziona i 5 clienti che hanno effettuato il maggior numero di ordini. Utilizza una JOIN tra le tabelle 'customers' e 'orders' per contare il numero di ordini per ciascun cliente. I risultati sono ordinati in ordine decrescente in base al numero totale di ordini e limitati ai primi 5 clienti. Verranno restituiti l'ID del cliente, il nome dell'azienda e il numero totale di ordini effettuati.

Risultati:
{'customer_id': 'SAVEA', 'company_name': 'Save-a-lot Markets', 'total_orders': 31}
{'customer_id': 'ERNSH', 'company_name': 'Ernst Handel', 'total_orders': 30}
{'customer_id': 'QUICK', 'company_name': 'QUICK-Stop', 'total_orders': 28}