In [1]:
import sys
import os
from pathlib import Path
project_root = Path.cwd().parent
sys.path.append(str(project_root))
api_key = os.getenv('OPENAI_API_KEY')

import logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

In [2]:
from src.connectors.postgres import PostgresManager

db = PostgresManager(
    host='localhost',
    port='5432',
    user='postgres',
    database='giacomo',
    password='admin',
)

2025-01-25 15:48:49,157 - INFO - Connected to PostgreSQL database

In [3]:
print(db.engine)

Engine(postgresql://postgres:***@localhost:5432/giacomo)

In [4]:
from src.llm_handler.openai_handler import OpenAIHandler
llm = OpenAIHandler(
    api_key=api_key,
    chat_model="gpt-4o-mini"
)

## Tables

In [5]:
from src.metadata.extractors.table.postgres_table_metadata_extractor import PostgresTableMetadataExtractor

metadata_extractor = PostgresTableMetadataExtractor(db, 'northwind')

In [6]:
employess_metadata = metadata_extractor.extract_metadata('employees')
employess_metadata

TableMetadata(name='employees', columns=['employee_id', 'last_name', 'first_name', 'title', 'title_of_courtesy', 'birth_date', 'hire_date', 'address', 'city', 'region', 'postal_code', 'country', 'home_phone', 'extension', 'photo', 'notes', 'reports_to', 'photo_path'], primary_keys=['employee_id'], foreign_keys=[{'constrained_columns': ['reports_to'], 'referred_table': 'employees', 'referred_columns': ['employee_id']}], row_count=9)

In [7]:
from src.metadata.enhancers.table_metadata_enhancer import TableMetadataEnhancer

table_enhancer = TableMetadataEnhancer(llm)

In [8]:
employees_metadata_enhanced = table_enhancer.enhance(employess_metadata)
employees_metadata_enhanced

2025-01-25 15:48:51,193 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"

EnhancedTableMetadata(base_metadata=TableMetadata(name='employees', columns=['employee_id', 'last_name', 'first_name', 'title', 'title_of_courtesy', 'birth_date', 'hire_date', 'address', 'city', 'region', 'postal_code', 'country', 'home_phone', 'extension', 'photo', 'notes', 'reports_to', 'photo_path'], primary_keys=['employee_id'], foreign_keys=[{'constrained_columns': ['reports_to'], 'referred_table': 'employees', 'referred_columns': ['employee_id']}], row_count=9), description='Table: employees -> "Contiene i dati anagrafici e professionali dei dipendenti, inclusi nome, cognome, titolo lavorativo, data di nascita e data di assunzione. Include anche informazioni di contatto e riferimenti gerarchici tra i dipendenti."', keywords=['inclusi nome', 'titolo lavorativo', 'dei dipendenti', 'Table', 'data'], importance_score=1.0)

## Columns

In [9]:
from src.metadata.extractors.columns.postgres_column_metadata_extractor import PostgresColumnMetadataExtractor

column_metadata_extractor = PostgresColumnMetadataExtractor(db, 'northwind')

In [10]:
employess_columns_metadata = column_metadata_extractor.extract_metadata('employees')
employess_columns_metadata

[ColumnMetadata(name='employee_id', table='employees', data_type='SMALLINT', nullable=False, is_primary_key=False, is_foreign_key=False, distinct_values=['1', '9', '4', '8', '6', '3', '2', '7', '5'], relationships=[]),
 ColumnMetadata(name='last_name', table='employees', data_type='VARCHAR(20)', nullable=False, is_primary_key=False, is_foreign_key=False, distinct_values=['Callahan', 'Fuller', 'Leverling', 'Peacock', 'Suyama', 'Buchanan', 'Dodsworth', 'Davolio', 'King'], relationships=[]),
 ColumnMetadata(name='first_name', table='employees', data_type='VARCHAR(10)', nullable=False, is_primary_key=False, is_foreign_key=False, distinct_values=['Laura', 'Janet', 'Andrew', 'Nancy', 'Anne', 'Robert', 'Michael', 'Steven', 'Margaret'], relationships=[]),
 ColumnMetadata(name='title', table='employees', data_type='VARCHAR(30)', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['Vice President, Sales', 'Inside Sales Coordinator', 'Sales Representative', 'Sales Manager'], relationships=[]),
 ColumnMetadata(name='title_of_courtesy', table='employees', data_type='VARCHAR(25)', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['Mrs.', 'Mr.', 'Ms.', 'Dr.'], relationships=[]),
 ColumnMetadata(name='birth_date', table='employees', data_type='DATE', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['1937-09-19', '1958-01-09', '1966-01-27', '1948-12-08', '1952-02-19', '1960-05-29', '1955-03-04', '1963-08-30', '1963-07-02'], relationships=[]),
 ColumnMetadata(name='hire_date', table='employees', data_type='DATE', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['1994-01-02', '1992-08-14', '1993-05-03', '1993-10-17', '1994-11-15', '1992-05-01', '1994-03-05', '1992-04-01'], relationships=[]),
 ColumnMetadata(name='address', table='employees', data_type='VARCHAR(60)', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['Edgeham Hollow\\nWinchester Way', '4110 Old Redmond Rd.', '908 W. Capital Way', '14 Garrett Hill', 'Coventry House\\nMiner Rd.', '722 Moss Bay Blvd.', '4726 - 11th Ave. N.E.', '507 - 20th Ave. E.\\nApt. 2A', '7 Houndstooth Rd.'], relationships=[]),
 ColumnMetadata(name='city', table='employees', data_type='VARCHAR(15)', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['Redmond', 'London', 'Tacoma', 'Kirkland', 'Seattle'], relationships=[]),
 ColumnMetadata(name='region', table='employees', data_type='VARCHAR(15)', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['WA'], relationships=[]),
 ColumnMetadata(name='postal_code', table='employees', data_type='VARCHAR(10)', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['98033', '98105', 'RG1 9SP', 'WG2 7LT', '98401', '98052', 'EC2 7JR', 'SW1 8JR', '98122'], relationships=[]),
 ColumnMetadata(name='country', table='employees', data_type='VARCHAR(15)', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['UK', 'USA'], relationships=[]),
 ColumnMetadata(name='home_phone', table='employees', data_type='VARCHAR(24)', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['(206) 555-8122', '(71) 555-5598', '(71) 555-7773', '(71) 555-4848', '(71) 555-4444', '(206) 555-9482', '(206) 555-3412', '(206) 555-9857', '(206) 555-1189'], relationships=[]),
 ColumnMetadata(name='extension', table='employees', data_type='VARCHAR(4)', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['428', '5176', '2344', '3453', '465', '452', '3457', '3355', '5467'], relationships=[]),
 ColumnMetadata(name='photo', table='employees', data_type='BYTEA', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['\\x'], relationships=[]),
 ColumnMetadata(name='notes', table='employees', data_type='TEXT', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the University of Dallas in 1981.  He is fluent in French and Italian and reads German.  He joined the company as a sales representative, was promoted to sales manager in January 1992 and to vice president of sales in March 1993.  Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association.', 'Anne has a BA degree in English from St. Lawrence College.  She is fluent in French and German.', 'Laura received a BA in psychology from the University of Washington.  She has also completed a course in business French.  She reads and writes French.', 'Michael is a graduate of Sussex University (MA, economics, 1983) and the University of California at Los Angeles (MBA, marketing, 1986).  He has also taken the courses Multi-Cultural Selling and Time Management for the Sales Professional.  He is fluent in Japanese and can read and write French, Portuguese, and Spanish.', 'Janet has a BS degree in chemistry from Boston College (1984).  She has also completed a certificate program in food retailing management.  Janet was hired as a sales associate in 1991 and promoted to sales representative in February 1992.', 'Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree in 1976.  Upon joining the company as a sales representative in 1992, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London.  He was promoted to sales manager in March 1993.  Mr. Buchanan has completed the courses Successful Telemarketing and International Sales Management.  He is fluent in French.', 'Margaret holds a BA in English literature from Concordia College (1958) and an MA from the American Institute of Culinary Arts (1966).  She was assigned to the London office temporarily from July through November 1992.', 'Education includes a BA in psychology from Colorado State University in 1970.  She also completed The Art of the Cold Call.  Nancy is a member of Toastmasters International.', 'Robert King served in the Peace Corps and traveled extensively before completing his degree in English at the University of Michigan in 1992, the year he joined the company.  After completing a course entitled Selling in Europe, he was transferred to the London office in March 1993.'], relationships=[]),
 ColumnMetadata(name='reports_to', table='employees', data_type='SMALLINT', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['2', '5'], relationships=[]),
 ColumnMetadata(name='photo_path', table='employees', data_type='VARCHAR(255)', nullable=True, is_primary_key=False, is_foreign_key=False, distinct_values=['http://accweb/emmployees/davolio.bmp', 'http://accweb/emmployees/leverling.bmp', 'http://accweb/emmployees/fuller.bmp', 'http://accweb/emmployees/peacock.bmp', 'http://accweb/emmployees/buchanan.bmp'], relationships=[])]

In [11]:
from src.metadata.enhancers.column_metadata_enhancer import ColumnMetadataEnhancer

column_enhancer = ColumnMetadataEnhancer(llm)

In [12]:
employee_id_enhanced = column_enhancer.enhance(employess_columns_metadata[0])
employee_id_enhanced

2025-01-25 15:48:52,119 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"

EnhancedColumnMetadata(base_metadata=ColumnMetadata(name='employee_id', table='employees', data_type='SMALLINT', nullable=False, is_primary_key=False, is_foreign_key=False, distinct_values=['1', '9', '4', '8', '6', '3', '2', '7', '5'], relationships=[]), ai_name='placeholder', description='"Identificatore univoco dell\'impiegato, rappresentato da un numero intero compreso tra 1 e 9."', keywords=['Identificatore univoco', "univoco dell'impiegato", 'compreso tra'])